@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 8px;
  background: linear-gradient(to bottom, rgb(224, 233, 250), rgb(248, 226, 229)); /* Gradient track */
}

html::-webkit-scrollbar-thumb {
  background: rgb(149, 148, 148);
  border-radius: 8px;
  }
  
  html::-webkit-scrollbar-thumb:hover {
    background: rgb(109, 108, 108);
    border-radius: 10px;
  } 